@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

a {
  text-decoration: none;
  padding: 1.5rem;
}

body {
  text-align: center;
  background-color: #fefbe9;
  color: #183a1d;
  font-family: Poppins, sans-serif;
  margin: 0 auto;
}

hr {
  border-style: none;
  border-width: 5px;
  border-top-style: dotted;
  height: 5%;
  width: 10%;
  color: darkgray;
}

h1,
h3 {
  color: #f0a04b;
}

table {
  margin: 0 auto;
}
